* {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  color: white;
}

body{
  background-color:black;
     }

.hero-banner {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  height: 15vh;
  /* color: white; */
  background-image: url("../images/02-hero-bg.jpg");
}

h1
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* 
nav{ 
  background-color: #ddd;
  } */
    